@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: 'Lato_bold';
	src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
	font-family: 'Lato_black';
	src: url(../fonts/Lato/Lato-Black.ttf);
}
@font-face {
	font-family: 'Lato_light';
	src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
	font-family: 'Lato_medium';
	src: url(../fonts/Lato/Lato-Light.ttf);
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
header {
	height: 735px;
	background-image: url(../img/bg_header.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.head {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}
.logo {
	padding: 28px 0px 0px 86px;
}
.menu * {
	margin: 0;
	padding: 0;
}
.menu ul {
	list-style: none;
	margin: 52px 0px 0px 360px;
}
.menu>ul {
	display: flex;
}
.menu>ul li {
	position: relative;
}
.menu>ul li a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-family: "Lato";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	padding-left: 29px;
	position: relative;
}
.slogan {
	display: inline-block;
	font-size: 50px;
	font-family: "Lato_bold";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	margin-top: 165px;
	padding-left: 314px;
}
.in {
	width: 180px;
	height: 50px;
	margin-top: 44px;
	margin-left: 565px;
	background-image: -moz-linear-gradient( 90deg, rgb(163, 208, 43) 0%, rgb(208, 249, 35) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(163, 208, 43) 0%, rgb(208, 249, 35) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(163, 208, 43) 0%, rgb(208, 249, 35) 100%);
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.29);
	border-radius: 25px;
	outline: none;
	border: none;
	font-size: 15px;
	font-family: "Lato_black";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
}
.development {
	height: 722px;
	background-color: #ffffff;
	display: flex;
	flex-flow: row nowrap;
}
.telephone {
	padding-top: 13px;
	padding-left: 101px;
	object-fit: contain;
}
.development_container {
	padding-top: 199px;
	margin-left: 24px;
}
.development_title {
	font-size: 28px;
	font-family: "Lato";
	color: rgb(23, 23, 23);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	display: block;
}
.development_title:after {
	content: "❤";
	color: rgb(242, 20, 20);
	font-size: 18px;
	padding-left: 11px;
}
.development_text {
	height: 250px;
	width: 530px;
	padding-top: 25px;
}
.development_icons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-top: 52px;
}
.development_icons_texts {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-top: 15px;
}
.development_icons_text {
	font-size: 14px;
	font-family: "Lato_bold";
	color: rgb(23, 23, 23);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}
.icons {
	border-radius: 50%;
	background-color: rgb(167, 205, 44);
	width: 127px;
	height: 127px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.choose {
	height: 735px;
	background-image: url(../img/bg_choose.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}
.choose_title {
	font-size: 28px;
	font-family: "Lato_bold";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	margin-top: 125px;
	margin-left: 537.828px;
}
.ico_choose {
	margin-left: 177px;
	margin-top: 120px;
}
.choose_description {
	font-size: 15px;
	font-family: "Lato_bold";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	width: 171px;
	height: 31px;
	margin-right: 80px;
}
.choose_descriptions {
	display: flex;
	flex-flow: row nowrap;
	margin-left: 167.5px;
	margin-top: 42px;
}
.about {
	height: 735px;
	background-image: url(../img/bg_about.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.about_title {
	font-size: 28px;
	font-family: "Lato_bold";
	color: rgb(23, 23, 23);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	padding-top: 275px;
}
.about_rate {
	padding-top: 95px;
}
.about_description {
	font-size: 15px;
	font-family: "Lato_light";
	color: rgb(80, 80, 80);
	line-height: 1.333;
	text-align: center;
	width: 405.659px;
	height: 111px;
	padding-top: 35px;
}
.about_name {
	font-size: 15px;
	font-family: "Lato";
	color: rgb(23, 23, 23);
	line-height: 1.733;
	font-weight: bold;
	text-align: center;
	padding-top: 65px;
}
.about_date {
	padding-top: 15px;
}
.contact {
	height: 501px;
	background-image: url(../img/bg_contact.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.contact_title {
	font-size: 28px;
	font-family: "Lato_bild";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	margin-top: 70px;
}
.pole {
	color: rgb(255, 255, 255);
	width: 640px;
	height: 50px;
}
input {
	outline: none;
	border: none;
	border-bottom: 2px solid white;
	background: none;
}
input::placeholder {
	font-size: 15px;
	font-family: "Lato_light";
	line-height: 1.333;
	color: rgb(255, 255, 255);
}
.contact_button {
	width: 180px;
	height: 50px;
	margin-top: 25px;
	background-image: -moz-linear-gradient( 90deg, rgb(163, 208, 43) 0%, rgb(208, 249, 35) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(163, 208, 43) 0%, rgb(208, 249, 35) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(163, 208, 43) 0%, rgb(208, 249, 35) 100%);
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.29);
	border-radius: 25px;
	outline: none;
	border: none;
	font-size: 15px;
	font-family: "Lato_black";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
}
footer {
	height: 75px;
	background-image: url(../img/footer_bg.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.footer_text {
	font-size: 13px;
	font-family: "Lato_light";
	color: rgb(140, 117, 159);
	text-decoration: underline;
	line-height: 2;
}
.one {
	padding-left: 105px;
}
.two {
	padding-right: 185px;
}